body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cacheText {
  visibility: hidden;
}

figure {
  display: none;
}

header {
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
  color: white;
}


#helper {
  color: #ffffff;
  padding: 20px;
  animation: anim 2s infinite ease-in-out;
}

@keyframes anim {
  0% {
    font-size: 16px;
  }

  50% {
    font-size: 18px;
  }

  100% {
    font-size: 16px;
  }
}


#bouton_start {
  margin-top: 10px;
  padding: 5px;
  background-color: orange;
  border: 2px solid black;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

#messageBox {
  position: absolute;
  border: 5px solid black;
  font-size: 24px;
  padding: 5px;
  background-color: white;
  width: 300px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
}


#points {
  text-align: center;
  padding: 10px;
}

canvas {
  display: block;
  background-color: black;
}